html {
  scroll-behavior: smooth !important;
}
body {
  font-family: 'Roboto', sans-serif;
}
.navbar {
  background-color: #171717 !important;
}
@keyframes rainbow {
  0% {
    border-color: violet;
  }
  16.666% {
    border-color: indigo;
  }
  33.333% {
    border-color: blue;
  }
  50% {
    border-color: green;
  }
  66.666% {
    border-color: yellow;
  }
  83.333% {
    border-color: orange;
  }
  100% {
    border-color: red;
  }
}

.rounded-full {
  border-radius: 50%;
  animation: rainbow 3s linear infinite; /* Ganti nilai sesuai kebutuhan Anda */
}

/* Tambahan styling sesuai dengan kode yang diberikan */
.w-32 {
  width: 32px;
}

.h-32 {
  height: 32px;
}

.mb-5 {
  margin-bottom: 5px;
}

.border {
  border-width: 1px !important;
  border-style: solid;
}

.border-gray-400 {
  border-color: #cbd5e0;
}

.bg-cover {
  background-size: cover;
}
